{% extends 'home.html' %}

{% block content%}

<div class="container">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
                <th scope="col">Data Criação</th>
                <th scope="col">Data Atualização</th>
                <th scope="col">Gtin</th>
                <th scope="col">Categoria</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.updated_at }}</td>
                    <td>{{ item.gtin }}</td>
                    <td>{{ item.category }}</td>
                    <td><a href="{% url 'update_product' id=item.id%}"><button class="btn">Editar</button></a></td>
                    <td><a href="{% url 'delete_product' id=item.id%}"><button class="btn">Deletar</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>

    <div class="bottom mt-5">
        <a href="/create_product"><button class="btn btn-secondary me-md-2" type="button">Criar Produto</button></a>
        <a href="/"><button class="btn btn-secondary me-md-2" type="button">Voltar para Inicio</button></a>
    </div> 
</div>
{% endblock%}